html, body {
  padding: 0 0;
  margin: 0 0;
  height: 100%;
  width: 100%;
  background-color: #e4e4e4;
  font-family: Nunito,sans-serif;
 align-items: center;
}

p{
  text-align: justify;
}
span{
  display: block;
  text-align: justify;
}

#bar-div{
  max-height: 65px;
  display: flex;
  justify-content:space-between;
  padding: 0 2.5%;
  align-items: center;
  background-color: rgb(0, 0, 0);
}
#bar-title{
  color: white;
}
#bar-button{
  margin: 1% 5%;
}

#profile-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /*row-gap: -1rem;*/
}
.profile-element{
  width: 100%;
}
#banner-img{
  min-height: 150px;
  max-height: 300px;
}
#profile-img{
  max-width:150px;
  min-width: 100px;
  max-height: 150px;
  min-height: 100px;
  border-radius: 100%;
  padding: 0 0;
  margin: 0 0;
  position: relative;
  top: -70px;
}
#profile-name{
  text-align: center;
  padding: 0 5%;
  margin: 0 30%;
  position: relative;
  top: -60px;
  font-size: 26px;
}

#select-pais-div{
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
}
#pais-select-title{
  display: block;
  justify-self: auto;
}
#pais-select{
  display: block;
  justify-self: auto;
}


#formulario{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}
.form-field{
  width: 100%;
}

.form-button-div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.form-button{
  width: 40%;
}

button {
  background: #7ec780; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.text-input{
  width: 100%;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  font-size: 16px;
  padding: 10px 16px;
  box-sizing: border-box;
  margin-bottom: 0px;
  margin-top: 5px;
  color: #000;
  font-weight: 300;
}

#coleccion-table-div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}
#coleccion-img{
  display: block;
  border-radius: 15px;
  width: 90%;
}
#coleccion-table{
  display: block;
  width: 100%;
  margin: 5%;
}

.content-block{
  display: block;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
  
}

.section-title{
  font-size: 20px;
  width: 100%;
}
.section-subtitle{
  font-size: 16px;
  width: 100%
}

.img-icon{
  max-width: 50px;
  max-height: 50px;
}
#redes-div{
  display: flex;
  width: 100%;
  column-gap: 10px;
  justify-content: left;
}

.list-label{
  padding-left: 0.5rem;
}

#content-div{
  display: grid;
  max-width: 1000px;
  padding: 0px 10px;
  margin: auto;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  grid-template-areas: 
  "a a b"
  "c c b"
  "d d b"
  "e e b";
  grid-template-columns: 35% 35% 30%;
  /*align-items: center;*/
  /*justify-content: center;*/
}

.side-element{
  margin-bottom: 50px;
}


#resumen-div{
  grid-area: a;
}
#lenguajes-list-div{
  grid-area: c;
}
#proyectos-div{

  grid-area:d
}
.app-icon{
  display: block;
  margin: 10px 10px 20px 0px;
}
#coleccion-table-div{
  grid-area: e;
}
#side-div{
  grid-area: b;
 
}

