#max-24h-tag{
    text-align: right;
}
#min-24h-tag{
    text-align: left;
}

option{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}

@media (max-width: 480px) {
    #star-tag{
        display: none;
    }
}





